<h1>Hey, Anton!</h1>
<!-- <pre>{{ ads[0] | json }}</pre> -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-4" *ngFor="let ad of ads">
            <div class="card">
                <span class="furnished">{{ ad.hasFurniture ? 'furnished' : 'unfurnished'}}</span>
                <img *ngIf="!!ad.image" src="{{ ad.image }}">
                <h3>{{ ad.title }}</h3>
                <h4 *ngIf="!!ad.subtitle">{{ ad.subtitle }}</h4>
                <strong>${{ ad.price }}</strong>
                <span>{{ ad.rooms }} Zimmer | ab {{ ad.space }}^2</span>
            </div>
        </div>
    </div>
</div>
